/* Application-wide Styles */
#qts{
  background-color: black;
}
.jumbotron{
  text-align: center;
  background-color: black;
  font-style: oblique;
  color: white;
}

/* h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%; */
/* }
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
} */
body {
  color: white;
}
/* body, input[text], button {
  color: #369;
  font-family: Cambria, Georgia;
  font-weight: bold;
} */
label {
  color: #369;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.container{
  background-image: url("/assets/quotesbg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.clr {
  color: white;
}
.details{
  background-image: url("/assets/quotesbg2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  width: 100%;
  margin-top: 5vh;
  color: white;
}
#btn1, #btn2, #btn3 {
  background-color: teal;
  font-size: 20px;
  border-radius: 45px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 5px;
  color: black;
}
.quotes{
  color: white;
}
