<h1 class="jumbotron">Quotes by Ephantus!</h1>

<div class="container" id="qts">

  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>

</div>
<div class="details">
  <ul>
    <div class="clr">
      <div *ngFor='let quote of quotes;let i = index'>
        <li class="quotes" id="{{i}}" appHighlighter>{{quote.quote}} created on {{quote.timer}} </li>
        <button (click)='toogleDetails(i)' id="btn1">Toogle Details</button>
        <button (click)='upvotesCreator(i)' id="btn2">up Vote:{{ quote.upVotes }}</button>
        <button (click)='downvotesCreator(i)'id="btn3">down vote:{{ quote.downVotes }}</button>
        <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
      </div>
    </div>

  </ul>
</div>